process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: small {
        cpus = 1
        memory = 1.GB
        time = 10.m
    }
}

profiles {
    local {
        process.executor = 'local'
    }

    slurm_singularity {
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${System.getenv('NXF_SINGULARITY_CACHEDIR') ?: projectDir + '/singularity_cache'}"
    }
}
